:root{
    --percentage-scale: 0.2;
}

video {
    background-color: #ddd;
    border-radius: 7px;
    margin: 10px 0px 0px 10px;
    width: 320px;
    height: 240px;
}
button {
    margin: 5px 0px 0px 10px !important;
    width: 654px;
}

.btn-info, .btn-warning{
    width: 320px;
}

.bs{
    margin-bottom: 40px;
}

body{
    background-color: rgb(235, 235, 235);
}

canvas {
    transform-origin: left;
    border: 1px solid white;
    width: calc(640px * var(--percentage-scale));
    height: calc(480px * var(--percentage-scale));
    transform: scale( calc(1 / var(--percentage-scale)));
    image-rendering: pixelated;
    transform-origin: top left;
}

.canvas-single-container{
    width:640px;
    height: 480px;
}

.canvas-multiple-display{
    display: flex;
}